<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="true"
        bootstrap="vendor/autoload.php"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnError="false"
        stopOnFailure="false"
        syntaxCheck="true"
>
    <testsuites>
        <testsuite name="Simple cache tests">
            <directory suffix="Test.php">tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-text" target="php://stdout" />
    </logging>
    <php>
        <env name="REDIS_SERVER_HOST" value="127.0.0.1" />
        <env name="REDIS_SERVER_PORT" value="6379" />
        <env name="REDIS_SERVER_DBNUM" value="0" />
    </php>
</phpunit>
